/* ///////////////////////////////////////////////////////////////////////////////////////////// */
/* Banner de Inicio */
.bannerInicio {
    background-color: #007bff; /* Color de fondo del banner */
    color: #fff; /* Color del texto en el banner */
    text-align: center; /* Alineación del texto en el centro */
    padding: 20px; /* Espaciado interno del banner */
    margin-top: 40px; /* Espaciado superior del banner */
}
/* ///////////////////////////////////////////////////////////////////////////////////////////// */
/* Estilos para la tabla */
table {
    border-collapse: collapse; /* Colapsa los bordes de la tabla */
    width: 100%; /* Ancho completo de la tabla */
}

th, td {
    border: 1px solid #ccc; /* Bordes de las celdas */
    padding: 8px; /* Espaciado interno de las celdas */
    text-align: left; /* Alineación del texto a la izquierda */
}

th {
    background-color: #f2f2f2; /* Color de fondo para las celdas de encabezado */
}

tr:nth-child(even) {
    background-color: #f5f5f5; /* Color de fondo para filas pares */
}
/* ///////////////////////////////////////////////////////////////////////////////////////////// */
/* Estilos generales */
body {
    font-family: Arial, sans-serif; /* Tipo de fuente para el cuerpo del documento */
    background-color: #f2f2f2; /* Color de fondo gris claro */
    margin: 0; /* Elimina el margen predeterminado */
    padding: 0; /* Elimina el relleno predeterminado */
    width: 100%; /* Hace que el contenido ocupe todo el ancho */
}

/* Encabezado */
.header {
    background-color: #007bff; /* Color de fondo azul en el encabezado */
    color: #fff; /* Texto en color blanco */
    text-align: center; /* Alineación del texto centrada */
    padding: 20px 0; /* Relleno superior e inferior de 20px, sin relleno a los lados */
    width: 100%; /* Hace que el encabezado ocupe todo el ancho */
}

.custom-heading {
    font-size: 36px; /* Tamaño de fuente grande */
    font-weight: bold; /* Texto en negrita */
}

.custom-text {
    font-size: 18px; /* Tamaño de fuente más grande */
    color: #333; /* Texto en color gris oscuro */
}

/* Botones */
.btn {
    font-size: 18px; /* Tamaño de fuente */
    padding: 10px 20px; /* Relleno de 10px arriba/abajo y 20px izquierda/derecha */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.btn-primary {
    background-color: #007bff; /* Color de fondo azul claro */
    color: #fff; /* Texto en color blanco */
}

.btn-secondary {
    background-color: #555; /* Color de fondo gris oscuro para botones secundarios */
    color: #fff; /* Texto en color blanco */
    font-size: 16px; /* Tamaño de fuente */
    padding: 8px 16px; /* Relleno de 8px arriba/abajo y 16px izquierda/derecha */
}

.btn:hover {
    background-color: #007bff; /* Color de fondo en el estado de "hover" (al pasar el mouse) */
    transform: scale(1.1); /* Escala el botón al 110% en el estado de "hover" */
}

/* Sección de Recomendaciones */
.recomendaciones {
    background-color: #fff; /* Color de fondo blanco */
    padding: 20px; /* Relleno de 20px en todos los lados */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    display: none; /* Inicialmente oculta la sección */
}

.recomendacion-item {
    margin-bottom: 20px; /* Margen inferior de 20px para elementos de recomendación */
}

.recomendacion-item h4 {
    font-size: 20px; /* Tamaño de fuente grande para los títulos */
    margin-bottom: 10px; /* Margen inferior de 10px para los títulos */
    color: #007bff; /* Color azul para los títulos */
}

.recomendacion-item p {
    font-size: 16px; /* Tamaño de fuente para el texto de las recomendaciones */
    color: #555; /* Color gris oscuro para el texto */
}

/* Estilos Adicionales Personalizados */
.secondary-heading {
    font-size: 24px; /* Tamaño de fuente más grande para encabezados secundarios */
    font-weight: bold; /* Texto en negrita */
    color: #555; /* Color gris oscuro */
}

/* Contenedor */
.contenedor {
    /* Estilos personalizados para la clase .contenedor */
    margin-top: 10px; /* Margen de 10px en la parte superior */
    margin-right: 7px; /* Margen de 20px en el lado derecho */
    margin-bottom: 10px; /* Margen de 10px en la parte inferior */
    margin-left: 7px; /* Margen de 20px en el lado izquierdo */
}
